@media screen and (max-height: 870px) {
	.sectionL,
	.sectionR {
		height: 70vh !important;
	}
}


@media screen and (max-height: 611px) {
	.headerImg {
		top: 11.7vh !important;
		right: 5vw !important;
		width: unset;
		max-width: 80% !important;
	}

	.sectionL,
	.sectionR {
		height: 100vh !important;
	}
}



@media screen and (max-width: 992px) {

	.headerImg {
		right: 2vw !important;
		width: unset;
		max-width: 100%;
	}

	.sectionL, .sectionR {
		width: 100vh !important;
		left: unset !important;
		right: 2vw !important;
	}

}

@media screen and (max-width: 768px) {

	.headerL,
	.headerR {
		width: 50vw !important;
	}


	.headerBox h1 {
		font-size: 7vw !important;
	}

	.headerBox {
		top: 22vh !important;
		left: 12vw !important;
		margin-right: 2vw;
	}

	.headerImg {
		top: 40vh !important;
		right: 10vw !important;
		width: unset;
		max-width: 80%;
	}

}


@media screen and (max-width: 576px) {

	.decoration {
		display: none
	}

	.rightDecoration {
		top: 5%;
	}

	.sectionLable {
		font-size: 10vw !important;
	}

	.sectionTitleContainer {
		top: 12vh !important;
	}

	.sectionR {
		height: 50vh !important;
	}

	.sectionL, .sectionR {
		width: 100vw !important;
	}

	.sectionImageContainer {
		width: 100vw !important;
	}

}